@import "constants";
@import "colors/default-colors";

.border-variant-test {
  padding-left: 10px;
}

.border-variant-test:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom,
    #{map-get($fills, 'red')} 25%,
    #{map-get($fills, 'green')} 25%, #{map-get($fills, 'green')} 50%,
    #{map-get($fills, 'blue')} 50%, #{map-get($fills, 'blue')} 75%,
    #{map-get($fills, 'black')} 75%)
}
