@import "constants";
@import "border-variants";
@import "colors/default-colors";
@import "colors/osu-colors";
@import "colors/twitter-colors";
@import "colors/texas-tech-colors";
@import "animations/keyframes";

$fills: map-merge($fills, $osu-main-fills);
$fills: map-merge($fills, $twitter-fills);

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}

[data-mode="svg"] svg {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}

/*
.skew-left > .inner-component > img {
  max-width: 75%;
}

[data-mode="svg"].skew-left > .inner-component > svg {
  max-width: 75%;
}
*/

path {
  transition: all .5s ease;
}

video {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text-style-normal {
  font-weight: 500;
  @extend .text;
}

.text-style-bold {
  font-weight: 700;
  @extend .text;
}

.text-style-italic {
  font-style: italic;
  @extend .text;
}

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;

  padding-left: .5ch;
  padding-right: .5ch;
}

.text-align-right {
  text-align: right !important;

  padding-left: .5ch;
  padding-right: .5ch;
}

.white-space-nowrap {
  white-space: nowrap !important;
}

.white-space-normal {
  white-space: normal !important;
}

.grid-blink {
  animation-name: grid-animation;
  @extend .blink-animation;
  @extend .bg;
}

.blink-animation {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

.fade-animation {
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.display-hide {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%) !important;
}

.display-show {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
}

.display-fade-out {
  animation-name: fade-out-animation;
  @extend .fade-animation;
}

.display-fade-in {
  animation-name: fade-in-animation;
  @extend .fade-animation;
}

.display-wipe-out-right {
  animation-name: wipe-out-right-animation;
  @extend .fade-animation;
}

.display-wipe-in-right {
  animation-name: wipe-in-right-animation;
  @extend .fade-animation;
}

.display-wipe-out-left {
  animation-name: wipe-out-left-animation;
  @extend .fade-animation;
}

.display-wipe-in-left {
  animation-name: wipe-in-left-animation;
  @extend .fade-animation;
}

.display-wipe-in-bottom {
  animation-name: wipe-in-bottom-animation;
  @extend .fade-animation;
}

.display-wipe-out-bottom {
  animation-name: wipe-out-bottom-animation;
  @extend .fade-animation;
}

.display-wipe-out-top {
  animation-name: wipe-out-top-animation;
  @extend .fade-animation;
}

.display-wipe-in-top {
  animation-name: wipe-in-top-animation;
  @extend .fade-animation;
}


.bg {
  position: absolute;
  box-sizing: border-box;
  transition: all .5s ease;
  transform: skewX(0deg);
  transform-origin: 0% 0%;
  pointer-events: auto;
}

.skew {
  transform: skewX(-10deg) scale(1.0175) !important;
  transform-origin: 50% 50% !important;
}

.skew-left {
  @extend .skew;
}

.skew-middle {
  @extend .skew;
}

.skew-right {
  @extend .skew;
}

.inner-component {
  transform: skewX(0deg);
  height: 100%;
}

body {
  transition: all .5s ease;
}

[data-mode="image"] {
  padding: .2vw !important;
}

.skew-correction {
  transform: skewX(10deg) !important;
}

.skew-left .inner-component {
  @extend .skew-correction;
}
.skew-middle .inner-component {
  @extend .skew-correction;
}
.skew-right .inner-component {
  @extend .skew-correction;
}

@each $name, $color in $gradient-fills {
  .bg-#{$name} {
    background-image: #{$color};
    border-width: 1px;
    border-color: #{$color};
    @extend .bg;
  }
}

@each $name, $color in $fills {

  .bg-#{$name} {
    background-color: #{$color};
    border-width: 1px;
    border-color: #{$color};
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    @extend .bg;
  }

  @each $side in $border-sides {
    .border-style-#{$side}-#{$name} {
      border-#{$side}: calc(100vh / 27 / 4) solid #{$color};
    }
  }

  .border-style-all-#{$name} {
    border: calc(100vh / 27 / 4) solid #{$color};
  }

  .border-style-thin-all-#{$name} {
    border: calc(100vh / 27 / 4) solid #{$color};
  }

  .text-color-#{$name} {
    color: #{$color};
    @extend .text;
  }
}

@each $name, $color in $gradient-fills {
  .bg-#{$name} {
    background-image: #{$color};
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    @extend .bg;
  }
}
