@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,500,500i,600,600i,700,700i,800,800i');

body {
  overflow: hidden;
}

.event {
  background-color: black;
  color: white;
  animation: fade-in 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  float: right;
  clear: right;

  padding-right: 0.5em;
  padding-left: 0.5em;

  border-radius: 0.5em;

  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

  font-size: calc((75vh/#{$rows}) * 1);
  line-height: calc((97.5vh/#{$rows}) * 1);

  margin-top: calc((2.5vh/#{$rows}) * 1);
  margin-bottom: calc((2.5vh/#{$rows}) * 1)
}

.event img {
  max-height: calc((75vh/#{$rows}));
  margin-bottom: calc((75vh/#{$rows}) * .15);
  vertical-align: bottom;
}

#event_log {
  position: float;
  top: 0px;
  right: 0px;
  z-index: 9999;
  transition: all 0.5s ease;

  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
