@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,500,500i,600,600i,700,700i,800,800i');
@import "constants";
@import "components";

.premix {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@for $i from 1 through ($columns+1) {
  .pos-x-#{$i} {
    left: calc((100% / #{$columns}) * (#{$i} - 1));
  }
  .pos-w-#{$i} {
    width: calc((100% / #{$columns}) * #{$i})
  }
}

@for $i from 1 through ($rows+1) {
  .pos-y-#{$i} {
    top: calc((100% / #{$rows}) * (#{$i} - 1));
  }
  .pos-h-#{$i} {
    height: calc((100% / #{$rows}) * #{$i});
  }

  @each $side in $border-radius-sides {
    .border-#{$side}-radius-1.pos-h-#{$i} {
      /* should (in theory) be 5.5px/1920px=.3vw, but this formula matches better. */
      border-#{$side}-radius: calc(.2vw * #{$i} + .3vw);
    }
  }

  .border-radius-1.pos-h-#{$i} {
    /* should (in theory) be 5.5px/1920px=.3vw, but this formula matches better. */
    border-radius: calc(.2vw * #{$i} + .3vw);
  }

  .text-size-#{$i} {
    font-size: calc((75vh/#{$rows}) * #{$i}) !important;
    line-height: calc((100vh/#{$rows}) * #{$i}) !important;
    padding-top: 0vh;
  }
}

.text-size-_5 {
  font-size: calc((75vh/#{$rows}) * .5) !important;
  line-height: calc((100vh/#{$rows}) * .5) !important;
  padding-top: calc((100vh/#{$rows}) * .25);
}
.text-size-_5-no-pad {
  font-size: calc((75vh/#{$rows}) * .5) !important;
  line-height: calc((100vh/#{$rows}) * .5) !important;
}
.text-size-_5-pad-left_5 {
  font-size: calc((75vh/#{$rows}) * .5) !important;
  line-height: calc((100vh/#{$rows}) * .5) !important;
  padding-left: calc((100vh/#{$rows}) * .5);
  padding-top: 0vh;
}

.text-size-_2-3 {
  font-size: calc((75vh/#{$rows}) * (2 / 3)) !important; 
  line-height: calc((100vh/#{$rows}) * (2 / 3)) !important;
  padding-top: calc((100vh/#{$rows}) * (1 / 6));
}
.text-size-_4-3 {
  font-size: calc((75vh/#{$rows}) * (4 / 3)) !important; 
  line-height: calc((100vh/#{$rows}) * (4 / 3)) !important;
  padding-top: calc((100vh/#{$rows}) * (1 / 3));
}

.text {
  font-size: calc((75vh/#{$rows}) * 1);
  line-height: calc((100vh/#{$rows}) * 1);

  vertical-align: middle;

  font-family: 'Open Sans', sans-serif;
  /*alignment-baseline: middle;*/
  text-anchor: middle;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
