<!DOCTYPE html>
<html lang="en">
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Editor - OSUBGC Smash</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

    <script src="{{ url_for('static', filename='js/list.js') }}"></script>
    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <h4>OSU Esports</h4>
    <form>
        <div class="form-row">
            <label class="col-sm-1 col-form-label">Player 1</label>
            <label class="col-form-label">Icon:</label>
            <div class="col">
                <select class="form-control" id="data-data/edu/osu/org/osuesports/smash/p1/icon-input">
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/banjo_and_kazooie.png">BANJO & KAZOOIE</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/bayonetta.png">BAYONETTA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/koopa.png">BOWSER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/koopa_jr.png">BOWSER JR.</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/captain_falcon.png">CAPTAIN FALCON</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/chrom.png">CHROM</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/cloud.png">CLOUD</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/kamui.png">CORRIN</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/daisy.png">DAISY</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/black_pit.png">DARK PIT</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/dark_samus.png">DARK SAMUS</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/diddy_kong.png">DIDDY KONG</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/donkey_kong.png">DONKEY KONG</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/dr_mario.png">DR. MARIO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/duck_hunt.png">DUCK HUNT</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/falco.png">FALCO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/fox.png">FOX</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ganondorf.png">GANONDORF</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/gekkouga.png">GRENINJA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/dq_hero.png">HERO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ice_climber.png">ICE CLIMBERS</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ike.png">IKE</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/gaogaen.png">INCINEROAR</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/inkling.png">INKLING</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/shizue.png">ISABELLE</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/purin.png">JIGGLYPUFF</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/joker.png">JOKER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ken.png">KEN</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/dedede.png">KING DEDEDE</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/king_k_rool.png">KING K. ROOL</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/kirby.png">KIRBY</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/link.png">LINK</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/little_mac.png">LITTLE MAC</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/lucario.png">LUCARIO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/lucas.png">LUCAS</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/lucina.png">LUCINA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/luigi.png">LUIGI</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/mario.png">MARIO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/marth.png">MARTH</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/rockman.png">MEGA MAN</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/meta_knight.png">META KNIGHT</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/mewtwo.png">MEWTWO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/mii_fighter.png">Mii FIGHTER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/mr_game_and_watch.png">MR. GAME & WATCH</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ness.png">NESS</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pikmin_and_olimar.png">OLIMAR</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pac_man.png">PAC-MAN</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/palutena.png">PALUTENA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/peach.png">PEACH</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pichu.png">PICHU</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pikachu.png">PIKACHU</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/packun_flower.png">PIRANHA PLANT</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pit.png">PIT</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pokemon_trainer.png">POKÉMON TRAINER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/robot.png">R.O.B.</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/richter.png">RICHTER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ridley.png">RIDLEY</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/reflet.png">ROBIN</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/rosetta_and_chiko.png">ROSALINA & LUMA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/roy.png">ROY</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ryu.png">RYU</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/samus.png">SAMUS</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/sheik.png">SHEIK</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/shulk.png">SHULK</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/simon.png">SIMON</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/snake.png">SNAKE</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/sonic.png">SONIC</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/terry.png">TERRY</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/toon_link.png">TOON LINK</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/murabito.png">VILLAGER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/wario.png">WARIO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/wii_fit_trainer.png">Wii Fit TRAINER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/wolf.png">WOLF</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/yoshi.png">YOSHI</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/young_link.png">YOUNG LINK</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/zelda.png">ZELDA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/zero_suit_samus.png">ZERO SUIT SAMUS</option>
                </select>
            </div>
            <label class="col-form-label">Name:</label>
            <div class="col-sm-3 col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osuesports/smash/p1/name-input">
            </div>
            <label class="col-form-label">Score:</label>
            <div class="col-sm-1 col">
                <input type="number" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osuesports/smash/p1/score-input">
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-1 col-form-label">Player 2</label>
            <label class="col-form-label">Icon:</label>
            <div class="col">
                <select class="form-control" id="data-data/edu/osu/org/osuesports/smash/p2/icon-input">
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/banjo_and_kazooie.png">BANJO & KAZOOIE</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/bayonetta.png">BAYONETTA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/koopa.png">BOWSER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/koopa_jr.png">BOWSER JR.</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/captain_falcon.png">CAPTAIN FALCON</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/chrom.png">CHROM</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/cloud.png">CLOUD</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/kamui.png">CORRIN</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/daisy.png">DAISY</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/black_pit.png">DARK PIT</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/dark_samus.png">DARK SAMUS</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/diddy_kong.png">DIDDY KONG</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/donkey_kong.png">DONKEY KONG</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/dr_mario.png">DR. MARIO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/duck_hunt.png">DUCK HUNT</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/falco.png">FALCO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/fox.png">FOX</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ganondorf.png">GANONDORF</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/gekkouga.png">GRENINJA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/dq_hero.png">HERO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ice_climber.png">ICE CLIMBERS</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ike.png">IKE</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/gaogaen.png">INCINEROAR</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/inkling.png">INKLING</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/shizue.png">ISABELLE</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/purin.png">JIGGLYPUFF</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/joker.png">JOKER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ken.png">KEN</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/dedede.png">KING DEDEDE</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/king_k_rool.png">KING K. ROOL</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/kirby.png">KIRBY</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/link.png">LINK</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/little_mac.png">LITTLE MAC</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/lucario.png">LUCARIO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/lucas.png">LUCAS</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/lucina.png">LUCINA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/luigi.png">LUIGI</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/mario.png">MARIO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/marth.png">MARTH</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/rockman.png">MEGA MAN</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/meta_knight.png">META KNIGHT</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/mewtwo.png">MEWTWO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/mii_fighter.png">Mii FIGHTER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/mr_game_and_watch.png">MR. GAME & WATCH</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ness.png">NESS</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pikmin_and_olimar.png">OLIMAR</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pac_man.png">PAC-MAN</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/palutena.png">PALUTENA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/peach.png">PEACH</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pichu.png">PICHU</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pikachu.png">PIKACHU</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/packun_flower.png">PIRANHA PLANT</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pit.png">PIT</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/pokemon_trainer.png">POKÉMON TRAINER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/robot.png">R.O.B.</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/richter.png">RICHTER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ridley.png">RIDLEY</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/reflet.png">ROBIN</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/rosetta_and_chiko.png">ROSALINA & LUMA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/roy.png">ROY</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/ryu.png">RYU</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/samus.png">SAMUS</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/sheik.png">SHEIK</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/shulk.png">SHULK</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/simon.png">SIMON</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/snake.png">SNAKE</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/sonic.png">SONIC</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/terry.png">TERRY</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/toon_link.png">TOON LINK</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/murabito.png">VILLAGER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/wario.png">WARIO</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/wii_fit_trainer.png">Wii Fit TRAINER</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/wolf.png">WOLF</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/yoshi.png">YOSHI</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/young_link.png">YOUNG LINK</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/zelda.png">ZELDA</option>
                    <option value="https://www.smashbros.com/assets_v2/img/fighter/pict/zero_suit_samus.png">ZERO SUIT SAMUS</option>
                </select>
            </div>
            <label class="col-form-label">Name:</label>
            <div class="col-sm-3 col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osuesports/smash/p2/name-input">
            </div>
            <label class="col-form-label">Score:</label>
            <div class="col-sm-1 col">
                <input type="number" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osuesports/smash/p2/score-input">
            </div>
        </div>
        <hr/>
        <div class="form-row">
            <label class="col-sm-1 col-form-label">Info</label>
            <label class="col-form-label">Logo:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osuesports/smash/event/logo-input">
            </div>
            <label class="col-form-label">Name:</label>
            <div class="col-sm-3 col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osuesports/smash/event/name-input">
            </div>
            <label class="col-form-label">Info:</label>
            <div class="col-sm-3 col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osuesports/smash/event/info-input">
            </div>
        </div>
        <hr/>
        <div class="form-row">
            <div class="col">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" onclick="submit_all()">Update All</button>
                    <button type="button" class="btn btn-outline-info" onclick="restore('osuesports/smash-scoreboard', 'show-icons')">Show Icons</button>
                    <button type="button" class="btn btn-outline-info" onclick="restore('osuesports/smash-scoreboard', 'hide-icons')">Hide Icons</button>
                    <button type="button" class="btn btn-outline-info" onclick="restore('osuesports/smash-scoreboard', 'show-scoreboard')">Show Scoreboard</button>
                    <button type="button" class="btn btn-outline-info" onclick="restore('osuesports/smash-scoreboard', 'hide-scoreboard')">Hide Scoreboard</button>
                </div>
            </div>
        </div>
    </form>
    <hr/>
</div>

<script language="javascript">
    window.onload = function (e) {
        if (window.console) console.log("Ready to go!");
        get_all_data(function () {
            Object.keys(data).forEach(function (path) {
                element = document.getElementById('data-' + path + '-input');
                if (element) {
                    element.value = data[path];
                }
            });
        });
    };

    function submit_all() {
        data_send('data/edu/osu/org/osuesports/smash/p1/icon');
        data_send('data/edu/osu/org/osuesports/smash/p1/name');
        data_send('data/edu/osu/org/osuesports/smash/p1/score');
        data_send('data/edu/osu/org/osuesports/smash/p2/icon');
        data_send('data/edu/osu/org/osuesports/smash/p2/name');
        data_send('data/edu/osu/org/osuesports/smash/p2/score');

        data_send('data/edu/osu/org/osuesports/smash/event/name');
        data_send('data/edu/osu/org/osuesports/smash/event/logo');
        data_send('data/edu/osu/org/osuesports/smash/event/info');
    }
</script>

</body>
</html>
