<!DOCTYPE html>
<html lang="en">
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Editor - OSUBGC Smash</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

    <script src="{{ url_for('static', filename='js/list.js') }}"></script>
    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <h4>CSL 2019-2020 OHIO STATE QUALIFIER</h4>
    <form>
        <h5>Street Fighter</h5>
        <div class="form-row">
            <label class="col-sm-1 col-form-label">Player 1</label>
            <label class="col-form-label">Name:</label>
            <div class="col-sm-3 col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/csl/street-fighter/p1/name-input">
            </div>
            <label class="col-form-label">Score:</label>
            <div class="col-sm-1 col">
                <input type="number" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/csl/street-fighter/p1/score-input">
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-1 col-form-label">Player 2</label>
            <label class="col-form-label">Name:</label>
            <div class="col-sm-3 col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/csl/street-fighter/p2/name-input">
            </div>
            <label class="col-form-label">Score:</label>
            <div class="col-sm-1 col">
                <input type="number" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/csl/street-fighter/p2/score-input">
            </div>
        </div>
        <hr/>
        <div class="form-row">
            <label class="col-sm-1 col-form-label">Info</label>
            <label class="col-form-label">Round:</label>
            <div class="col-sm-3 col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/csl/street-fighter/info-input">
            </div>
        </div>
        <hr/>
        <div class="form-row">
            <div class="col">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" onclick="submit_all()">Update All</button>
                </div>
            </div>
        </div>
    </form>
    <hr/>
</div>

<script language="javascript">
    window.onload = function (e) {
        if (window.console) console.log("Ready to go!");
        get_all_data(function () {
            Object.keys(data).forEach(function (path) {
                element = document.getElementById('data-' + path + '-input');
                if (element) {
                    element.value = data[path];
                }
            });
        });
    };

    function submit_all() {
        data_send('data/edu/osu/org/osubgc/csl/street-fighter/p1/name');
        data_send('data/edu/osu/org/osubgc/csl/street-fighter/p1/score');
        data_send('data/edu/osu/org/osubgc/csl/street-fighter/p2/name');
        data_send('data/edu/osu/org/osubgc/csl/street-fighter/p2/score');
        data_send('data/edu/osu/org/osubgc/csl/street-fighter/info');
    }
</script>

</body>
</html>
