<!DOCTYPE html>
<html lang="en">
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Editor - OSUBGC</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

    <script src="{{ url_for('static', filename='js/list.js') }}"></script>
    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <h4>OSU BGC - Rocket League</h4>
    <form>
        <div class="form-row">
            <label class="col-sm-1 col-form-label">Blue</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=1
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/01/home-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=3
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/02/home-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=5
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/03/home-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=7
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/04/home-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=9
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/05/home-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=11
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/06/home-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=13
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/07/home-input">
            </div>
            <label class="col-form-label">F:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=17
                       id="data-data/edu/osu/org/osubgc/scoreboard/score/home-input">
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-success"
                        onclick="restore('osubgc/scoreboard/rl', 'blue-score')">
                        <i class="fas fa-futbol"></i> Goal
                </button>
                <button type="button" class="btn btn-success"
                        onclick="home_win()">
                        <i class="fas fa-trophy"></i> Win
                </button>
            </div>
        </div>
        <hr/>
        <div class="form-row">
            <label class="col-sm-1 col-form-label">Orange</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=2
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/01/away-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=4
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/02/away-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=6
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/03/away-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=8
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/04/away-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=10
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/05/away-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=12
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/06/away-input">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=14
                       id="data-data/edu/osu/org/osubgc/scoreboard/rounds/07/away-input">
            </div>
            <label class="col-form-label">F:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" " tabindex=18
                       id="data-data/edu/osu/org/osubgc/scoreboard/score/away-input">
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-success"
                        onclick="restore('osubgc/scoreboard/rl', 'orange-score')">
                        <i class="fas fa-futbol"></i> Goal
                </button>
                <button type="button" class="btn btn-success"
                        onclick="away_win()">
                        <i class="fas fa-trophy"></i> Win
                </button>
            </div>
        </div>
        <hr/>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">Blue Name</label>
            <label class="col-form-label">Logo:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/logo/home-input">
            </div>
            <label class="col-form-label">Name:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/name/home-input">
            </div>
            <label class="col-form-label">Short:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/name-short/home-input">
            </div>
            <label class="col-form-label">Goal:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/goal/home-input">
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">Blue Colors</label>
            <label class="col-form-label">Primary:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/style/home-primary-input">
            </div>
            <label class="col-form-label">Secondary:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/style/home-secondary-input">
            </div>
        </div>
        <hr/>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">Orange Name</label>
            <label class="col-form-label">Logo:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/logo/away-input">
            </div>
            <label class="col-form-label">Name:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/name/away-input">
            </div>
            <label class="col-form-label">Short:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/name-short/away-input">
            </div>
            <label class="col-form-label">Goal:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/goal/away-input">
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">Orange Colors</label>
            <label class="col-form-label">Primary:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/style/away-primary-input">
            </div>
            <label class="col-form-label">Secondary:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/style/away-secondary-input">
            </div>
        </div>
        <hr/>
        <div class="form-row">
            <label class="col-sm-2 col-form-label">Round Info:</label>
            <label class="col-form-label">Title:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/title-input">
            </div>
            <label class="col-form-label">Extra Info:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/extra-info-input">
            </div>
            <label class="col-form-label">Pause Info:</label>
            <div class="col">
                <input type="text" class="form-control" placeholder=" "
                       id="data-data/edu/osu/org/osubgc/scoreboard/pause-info-input">
            </div>
        </div>
        <hr/>
        <div class="form-row">
            <label class="col-form-label">Rounds:</label>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-success"
                        onclick="raw_send('overlay/osubgc-scoreboard-rounds-overlay/display', 'fade-in');raw_send('overlay/osubgc-scoreboard-mini-rounds-overlay/display', 'fade-in');">
                    Fade In
                </button>
                <button type="button" class="btn btn-outline-danger"
                        onclick="raw_send('overlay/osubgc-scoreboard-rounds-overlay/display', 'fade-out');raw_send('overlay/osubgc-scoreboard-mini-rounds-overlay/display', 'fade-out');">
                    Fade Out
                </button>
            </div>
        </div>
        <hr/>
        <div class="form-row">
            <div class="col">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" onclick="submit_all()">Update All</button>
                    <button type="button" class="btn btn-outline-primary" onclick="submit_scores()">Update Scores</button>
                </div>
            </div>
        </div>
    </form>
    <hr/>
</div>

<script language="javascript">
    window.onload = function (e) {
        if (window.console) console.log("Ready to go!");
        get_all_data(function () {
            Object.keys(data).forEach(function (path) {
                element = document.getElementById('data-' + path + '-input');
                if (element) {
                    element.value = data[path];
                }
            });
        });
    };

    function home_win() {
        var current = parseInt(data_form_get('data/edu/osu/org/osubgc/scoreboard/score/home'), 10);

        data_form_change('data/edu/osu/org/osubgc/scoreboard/score/home', current+1);
        data_send('data/edu/osu/org/osubgc/scoreboard/score/home');
    }

    function away_win() {
        var current = parseInt(data_form_get('data/edu/osu/org/osubgc/scoreboard/score/away'), 10);

        data_form_change('data/edu/osu/org/osubgc/scoreboard/score/away', current+1);
        data_send('data/edu/osu/org/osubgc/scoreboard/score/away');
    }

    function submit_scores() {
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/01/home');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/02/home');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/03/home');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/04/home');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/05/home');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/06/home');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/07/home');

        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/01/away');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/02/away');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/03/away');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/04/away');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/05/away');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/06/away');
        data_send('data/edu/osu/org/osubgc/scoreboard/rounds/07/away');

        data_send('data/edu/osu/org/osubgc/scoreboard/score/home');
        data_send('data/edu/osu/org/osubgc/scoreboard/score/away');
    }

    function submit_all() {
        submit_scores();

        data_send('data/edu/osu/org/osubgc/scoreboard/logo/home');
        data_send('data/edu/osu/org/osubgc/scoreboard/name/home');
        data_send('data/edu/osu/org/osubgc/scoreboard/name-short/home');
        data_send('data/edu/osu/org/osubgc/scoreboard/goal/home');

        data_send('data/edu/osu/org/osubgc/scoreboard/logo/away');
        data_send('data/edu/osu/org/osubgc/scoreboard/name/away');
        data_send('data/edu/osu/org/osubgc/scoreboard/name-short/away');
        data_send('data/edu/osu/org/osubgc/scoreboard/goal/away');

        data_send('data/edu/osu/org/osubgc/scoreboard/style/home-primary');
        data_send('data/edu/osu/org/osubgc/scoreboard/style/home-secondary');
        data_send('data/edu/osu/org/osubgc/scoreboard/style/away-primary');
        data_send('data/edu/osu/org/osubgc/scoreboard/style/away-secondary');

        data_send('data/edu/osu/org/osubgc/scoreboard/extra-info');
        data_send('data/edu/osu/org/osubgc/scoreboard/title');
        data_send('data/edu/osu/org/osubgc/scoreboard/pause-info');
    }
</script>

</body>
</html>
