<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script defer src="https://kit.fontawesome.com/dff478fbc2.js" crossorigin="anonymous"></script>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/gh/zhiyuan-l/qrcodejs@master/qrcode.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/iconfu/svg-inject@1.2.3/dist/svg-inject.min.js"></script>

<script defer src="{{ url_for('static', filename='js/all.js', version=version) }}"></script>
