<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/static/local/osuesports-transparent.png" class="d-inline-block align-top" width="30" height="30" alt="">
        Stream Graphics
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <button class="btn btn-outline-success" onclick="location.reload(true)" type="button">
                <i class="fas fa-sync-alt"></i> Refresh
            </button>
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/premix_list">
                    <i class="fas fa-tv-retro"></i> Overlays
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/restore_list">
                    <i class="fas fa-save"></i> Restore
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/script_list">
                    <i class="fas fa-code"></i> Scripting
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-edit"></i> Editor Templates
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/editor_template/osubgc">
                        OSU BGC - Scoreboard - Generic
                    </a>
                    <a class="dropdown-item" href="/editor_template/osubgc-smash">
                        OSU BGC - Smash
                    </a>
                    <a class="dropdown-item" href="/editor_template/osubgc-rl">
                        OSU BGC - Rocket League
                    </a>
                    <hr/>
                    <a class="dropdown-item" href="/editor_template/osubgc-csl-all">CSL 19-20 - All</a>
                    <a class="dropdown-item" href="/editor_template/osubgc-csl-ultimate">CSL 19-20 - Ultimate</a>
                    <a class="dropdown-item" href="/editor_template/osubgc-csl-melee">CSL 19-20 - Melee</a>
                    <a class="dropdown-item" href="/editor_template/osubgc-csl-street-fighter">CSL 19-20 - Street Fighter</a>
                </div>
            </li>
        </ul>
    </div>
</nav>