<!DOCTYPE html>
<html>
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Event Log - {{ log_name }}</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-graphic-css-defaults.jinja2" %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + mode + '-event_log.css', version=version) }}">
    
    <script defer src="{{ url_for('static', filename='js/event_log.js', version=version) }}"></script>

    <script language="javascript">
        var log_name = "{{ log_name }}";
    </script>
</head>
<body>
<div id="event_log">

</div>
</body>
</html>
