<!DOCTYPE html>
<html>
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Overlay - {{ overlay_name }}</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-graphic-css-defaults.jinja2" %}

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/' + mode + '.css', version=version) }}">

    <script defer src="{{ url_for('static', filename='js/display.js', version=version) }}"></script>
</head>
<body>
<div id="premix/default" class="premix">
    <div id="overlay/grid" class="overlay">

    </div>
</div>

<script language="javascript">
    window.onload = function (e) {
        if (window.console) console.log("Ready to go!");

        var overlay = document.getElementById('overlay/grid');


        update_overlay_height(overlay.id);
        for (x = 1; x <= 48; x++) {
            for (y = 1; y <= 27; y++) {
                var new_elem = document.createElement('div');

                new_elem.id = 'component/x-' + x + '_y-' + y;
                new_elem.className = "display-show pos-16x9-x-b-" + x + " pos-16x9-y-b-" + y + " " +
                    "text-align-center grid-blink text-style-bold";

                if (x === 1 && y === 1) {
                    // Don't add anything.
                }
                else if (x === 1) {
                    new_elem.innerHTML = y;
                }else if (y === 1) {
                    new_elem.innerHTML = x;
                }

                overlay.appendChild(new_elem);
            }
        }
    };
</script>
</body>
</html>
