<!DOCTYPE html>
<html>
<head>
    <title>OSU BGC's Stream Graphics</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">
            OSU Buckeye Gaming Collective's Stream Graphics (v8.0.0)
        </h1>
        <p class="lead">
            These are the current graphics for streams on Twitch.
        </p>
    </div>
</div>

</body>
</html>
