<!DOCTYPE html>
<html>
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Overlay - {{ overlay_name }}</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-graphic-css-defaults.jinja2" %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + mode + '.css', version=version) }}">

    <script defer src="{{ url_for('static', filename='js/display.js', version=version) }}"></script>
</head>
<body>
<div id="premix/default" class="premix"></div>

<script language="javascript">
    var mode = "{{mode}}";

    window.onload = function (e) {
        if (window.console) console.log("Ready to go!");
        get_all_data(function () {
            overlay_init("default", "{{ overlay_name }}");
        });
    };
</script>
</body>
</html>
