<!DOCTYPE html>
<html lang="en">
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Premix List</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

    <script src="{{ url_for('static', filename='js/list.js') }}"></script>
    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <h4>Premixes</h4>
    <div class="card-columns" id="premix-list">

    </div>
    <hr/>
</div>

<script language="javascript">
    window.onload = function (e) {
        if (window.console) console.log("Ready to go!");
        get_all_data(function () {
            if (window.console) console.log("Loading data.");
            create_list('premix');
        });
    };
</script>

</body>
</html>
