<!DOCTYPE html>
<html lang="en">
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Premix List</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <h4>Restore</h4>
    
    <button type="button" class="btn btn-success float-right"
            onclick="reload_restore_properties()">
        Reload Restore List
    </button>

    <hr/>

    <form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Restore Name</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for restore in restore_properties | sort(attribute='name') %}
                {% if restore.supported %}
                    <tr>
                        <th scope="row">{{ restore.name }}</th>
                        <td>
                            {% if restore.has_init %}
                                <button type="button" class="btn btn-success"
                                        onclick="restore_default('{{ restore.name }}')">
                                    Initialize
                                </button>
                            {% endif %}
                            {% if restore.scripts %}
                                {% for script in restore.scripts %}
                                    <button type="button" class="btn btn-outline-info"
                                            onclick="restore('{{ restore.name }}', '{{ script.name }}')">
                                        Run '{{ script.name }}'
                                    </button>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </form>
    <hr/>
</div>

<script language="javascript">
    window.onload = function (e) {
        console.log("Ready to go!");
    };
</script>

</body>
</html>
