<!DOCTYPE html>
<html lang="en">
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Premix List</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <h4>Scripts</h4>

    <form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Script Name</th>
                <th scope="col">Parameters</th>
                <th scope="col">Status</th>
                <th scope="col">Run</th>
            </tr>
            </thead>
            <tbody>
            {% for script in script_properties %}
                <tr>
                    <th scope="row">{{ script }}</th>
                    <td>
                        {% if script_properties[script]["parameters"] %}
                            {% for parameter in script_properties[script]["parameters"] %}
                                <form>
                                    <div class="form-row">
                                        <label for="{{ script }}-{{ parameter }}">{{ parameter }}</label>

                                        {% set parameter_type = script_properties[script]["parameters"][parameter].get("type", "text") %}

                                        {% if parameter_type == "datetime-local" %}
                                        <input class="form-control" type="datetime-local"
                                                id="{{ script }}-{{ parameter }}"
                                                data-script="{{ script }}" data-parameter="{{ parameter }}"
                                                value="{{ script_properties[script]["run_parameters"].get(parameter, 
                                                    script_properties[script]["parameters"][parameter]["default"]) }}">
                                        {% else %}
                                        <input class="form-control" type="text"
                                                id="{{ script }}-{{ parameter }}"
                                                data-script="{{ script }}" data-parameter="{{ parameter }}"
                                                value="{{ script_properties[script]["run_parameters"].get(parameter, 
                                                    script_properties[script]["parameters"][parameter]["default"]) }}">
                                        {% endif %}
                                        <small class="form-text text-muted">
                                            {{ script_properties[script]["parameters"][parameter]["documentation"] }}
                                        </small>
                                    </div>
                                </form>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if script_properties[script]["process"] is not none and script_properties[script]["process"].is_alive() %}
                            <span class="badge badge-pill badge-success">Running</span>
                        {% else %}
                            <span class="badge badge-pill badge-danger">Stopped</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success"
                                    onclick="run_script('{{ script }}')">
                                Run
                            </button>
                            <button type="button" class="btn btn-danger"
                                    onclick="stop_script('{{ script }}')">
                                Stop
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    <hr/>
</div>

<script language="javascript">
    window.onload = function (e) {
        if (window.console) console.log("Ready to go!")
    };
</script>

</body>
</html>
